/* Загальні стилі */
* {
  user-select: none;
}

html {
  font-size: 12px;
  overflow: hidden;
}

body {
  //background-color: #121826; /* Темно-синій фон */
  background-color: transparent;
  color: #e0e0e0; /* Світло-сірий текст */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Основний контейнер */
.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

/* Секція блоку */
.block {
  background: #1f2a3b; /* Темно-сірий/синій блок */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Інпут */
input[type='text'] {
  background: #2b3648;
  border: 1px solid #3c4a5e;
  color: #e0e0e0;
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  transition: border 0.2s;
}

input[type='text']:focus {
  border-color: #ff8c42;
}

/* Кнопка */
button {
  background: #d9dadd;
  color: #121826;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
  height: 100%;

  &.small-btn {
    padding: 4px 8px;
    font-size: 0.8em;
  }
}

button:hover {
  background: #e07a35;
}

/* Таблиця */
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table thead {
  background: #2b3648;
  color: #ff8c42; /* Оранжевий заголовок */
}

table th,
table td {
  padding: 5px 10px;
  border: 1px solid #3c4a5e;
  text-align: center;
}

table tbody tr:nth-child(even) {
  background: #1f2a3b; /* Сірий фон для парних рядків */
}

table tbody tr:hover {
  background: #2b3648; /* Підсвітка при наведенні */
}

.click {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@layer scroll {
  body.platform-windows {
    * {
      /* This prevent scrollbar from shifting the page content */
      scrollbar-gutter: stable;

      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.8);
        border-radius: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-button {
        display: none;
      }
    }
  }
}

